html, body {
  font-family: "Arial Narrow";
}
.outer {
  position: fixed;
  top: 41px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
}
/* Customize fonts */
label, input, button, select {
  font-weight: 200;
  color: #58595a;
  font-size: 15px;
  line-height: 1.42857143;
}
#toppart {
  /* Appearance */
  background-color: #009999;
  padding: 0 20px 20px 20px;
  /* Fade out while not hovering */
  opacity: 0.1;
  zoom: 0.9;
  transition: opacity 500ms 1s;
}
label, input, button, select {
  font-weight: 500;
}
h1 {
  color: #58595a;
  font-size: 36px;
  font-family: 'Trade Gothic LT Std';
  font-weight: 700;
}
h2 {
  color: #ee5859;
  font-size: 30px;
  font-family: 'Trade Gothic LT Std';
  font-weight: 700;
}
h3 {
  color: #58595a;
  font-size: 24px;
  font-family: 'Trade Gothic LT Std';
  font-weight: 700;
}
h4 {
  font-weight: 400;
  color: #58595a;
  font-size: 70;
  line-height: 1.1;
}
p {
  font-weight: 400;
  color: #58595a;
  font-size: 16px;
  line-height: 1.1;
}
a {
  font-weight: 700;
  color: #ee5859;
  font-size: 16px;
  line-height: 1.1;
}
.img_left {
	float: left;
	width: 48%;
	padding-right: 4%;
	padding-top: 4%;
}
.img_left33 {
	float: left;
	width: 31%;
	padding-right: 3%;
	padding-top: 4%;
}
.clear_float {
	clear: both;
}
#tabDemo {
  background-color: #F6F6F6;
  padding: 20px 20px 20px 20px;
}
#tabWater {
  background-color: #3399CC;
  padding: 20px 20px 20px 20px;
  opacity: 0.65;
}
#tabHyg {
  background-color: #009933;
  padding: 20px 20px 20px 20px;
  opacity: 0.65;
}
#tabSan {
  background-color: #CC6633;
  padding: 20px 20px 20px 20px;
  opacity: 0.65;
}
.navbar-default {
  background-color: #58585A !important;
}
.navbar-nav li a {
  color: #fff !important;
}
.navbar-nav li a:hover, .navbar-nav > .active > a {
  color: #009999 !important;
  background-color: #CCEAEA !important;
  background-image: none !important;
}
#toppart:hover {
  /* Fade in while hovering */
  opacity: 0.80;
  transition-delay: 0;
}
/* Position and style citation */
#cite {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 12px;
  font-weight: bold;
}
#cite2 {
  position: relative;
  bottom: auto;
  font-size: 12px;
  font-weight: bold;
}
#cite3 {
  text-decoration: none;
  border: 0;
  margin: 0;
  padding: 50px;
}
/* If not using map tiles, show a white background */
.leaflet-container {
  background-color: white !important;
}